*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #3DADAB
}
.card{
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.slider-bg{
  border-radius: 50px;
}
.slider-bg p {
  color: black;

}
.swiper-slides{
  margin: 2rem;
}
.link-primary{
  color: var(--main-color);
  text-decoration: none;
}
.btn-primary{
  background-color: var(--main-color);
}

@media screen and (min-width: 1100px) {
  .card{
    margin-right: 5rem;
    margin-left: 5rem;
  }
}